<footer>
	<div class="content-padding">
		<p>Copyright &copy; Esse Etim</p>

		<div class="social-media-icons">
			<a href="#"><i class="fa fa-empire"></i></a>
			<a href="#"><i class="fa fa-rebel"></i></a>
		</div>
	</div>
</footer>